@font-face {
  font-family: 'Navigo';
  src: url('../fonts/Navigo-Regular.eot');
  src: url('../fonts/Navigo-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Navigo-Regular.woff2') format('woff2'), url('../fonts/Navigo-Regular.woff') format('woff'), url('../fonts/Navigo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NavigoBold";
  src: url('../fonts/Navigo-Bold.eot');
  src: url('../fonts/Navigo-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Navigo-Bold.woff2') format('woff2'), url('../fonts/Navigo-Bold.woff') format('woff'), url('../fonts/Navigo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NavigoLight';
  src: url('../fonts/Navigo-Light.eot');
  src: url('../fonts/Navigo-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Navigo-Light.woff2') format('woff2'), url('../fonts/Navigo-Light.woff') format('woff'), url('../fonts/Navigo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
.header {
  background-color: white;
}
.header__container {
  width: 1400px;
  margin: 0 auto;
  padding: 13px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__lang {
  width: 36px;
  height: 36px;
  background-color: #3D4252;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  color: white;
  margin-right: 15px;
}
.header__lang-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}
.header__lang-all a {
  font-size: 11px;
  line-height: 16px;
  color: #3D4252;
  text-decoration: none;
}
.header__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__time-img {
  margin-right: 15px;
}
.header__time-text {
  max-width: 160px;
  line-height: 16px;
  font-size: 11px;
  color: #3D4252;
  font-weight: 700;
}
.header__time-text span {
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  border-bottom: 1px solid #3D4252;
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
}
.header__logo::before {
  content: '';
  background-image: url("../img/triangle.svg");
  width: 40px;
  height: 7px;
  position: absolute;
  bottom: -19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__social-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #8088A3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 6px;
}
.header__social-item:last-child {
  margin-right: 0;
}
.header__social-item a {
  line-height: 10px;
}
.navigator {
  background-color: #3D4252;
  width: 100%;
}
.navigator__container {
  padding: 14px 0;
  width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigator__search {
  min-width: 36px;
  width: 36px;
  height: 36px;
  border: 1px solid #656C81;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 84px;
}
.navigator__search img {
  width: 20px;
  height: 20px;
}
.navigator__maps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 108px;
}
.navigator__maps a {
  padding: 9px 18px;
  font-size: 13px;
  color: white;
  line-height: 16px;
  text-decoration: none;
  border: 2px solid #656C81;
  -webkit-border-radius: 17px;
          border-radius: 17px;
}
.navigator__link {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.navigator__link a {
  text-decoration: none;
  font-size: 12px;
  font-family: "NavigoBold";
  margin-right: 26px;
  color: white;
}
.navigator__link a:last-child {
  margin-right: 0;
}
.navigator__drop {
  display: none;
  margin: 10px 0;
}
.navigator__drop span {
  width: 36px;
  height: 1px;
  background-color: white;
  margin-bottom: 5px;
}
.navigator__drop span:last-child {
  margin-bottom: 0;
}
.navigator__cabinet {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navigator__cabinet-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 19px;
  border: 2px solid #656C81;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "NavigoBold";
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigator__cabinet-link span {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2694F7;
  margin-left: 8px;
  padding: 2px 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 11px;
  font-family: "NavigoBold";
}
.bitmap {
  background-image: url("../img/header-bg.png");
}
.bitmap__container {
  padding: 116px 0;
}
.bitmap__sub-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: white;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "NavigoBold";
}
.bitmap__title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  font-family: "NavigoLight";
  line-height: 72px;
}
.text-block__container {
  max-width: 966px;
  margin: 0 auto;
  padding: 104px 0 64px 0;
  border-bottom: 1px solid #3D4252;
}
.text-block__content {
  color: #3D4252;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}
.text-block__content:last-child {
  margin-bottom: 0;
}
.element__container {
  width: 1400px;
  margin: 0 auto;
  padding: 64px 0 124px 0;
}
.element__wrapper {
  margin-bottom: 96px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.element__item {
  width: 20%;
  padding-top: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.element__item-img {
  width: 124px;
  height: 124px;
  border: 2px solid #A8F0DE;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}
.element__item-text {
  font-size: 14px;
  font-weight: 700;
  font-family: "NavigoBold";
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
}
.element__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.element__button button {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #3D4252;
  padding: 12px 44px;
  border: 4px solid #A8F0DE;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.footer {
  background-color: #3D4252;
}
.footer__container {
  width: 1400px;
  margin: 0 auto;
  padding: 32px 0;
}
.footer__wrapper {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__city {
  padding-right: 44px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__logo {
  margin-bottom: 16px;
}
.footer__adress {
  max-width: 322px;
  color: white;
  font-size: 13px;
  font-family: "NavigoBold";
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.footer__pravila a {
  text-decoration: none;
  font-size: 13px;
  font-family: "NavigoBold";
  line-height: 16px;
  color: #A8F0DE;
}
.footer__time {
  padding: 0 45px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__time-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer__time-text {
  max-width: 77px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__time-text span {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: white;
  margin-bottom: 8px;
}
.footer__email {
  padding: 0 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__email span {
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 4px;
}
.footer__email form {
  position: relative;
}
.footer__email form input {
  width: 200px;
  border: 2px solid #656C81;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  background-color: transparent;
  padding: 10px 40px 10px 16px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.5;
  text-align: left;
}
.footer__email form input:focus {
  outline: none !important;
}
.footer__email form button {
  border: none;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #A8F0DE;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.footer__email form button::after {
  content: "";
  background-image: url("../img/icon_arrow-right.svg");
  width: 10px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.footer__navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__navigator a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  font-family: "NavigoBold";
  letter-spacing: 1px;
  line-height: 22px;
}
.footer__contact {
  padding: 0 45px;
}
.footer__contact a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.footer__contact a img {
  position: relative;
  top: -5px;
}
.footer__contact button {
  margin-top: 20px;
  padding: 9px 32px;
  border: 2px solid white;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
}
@media (max-width: 1400px) {
  .header__container {
    width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .header__container {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .header__container {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    width: 540px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header__logo {
    width: 50%;
    -webkit-box-flex: inherit;
    -webkit-flex-grow: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
  .header__social {
    margin-top: 20px;
  }
  .header__logo::before {
    width: 0;
  }
}
@media screen and (max-width: 576px) {
  .header__container {
    width: 100%;
    padding: 10px;
  }
  .header__logo {
    width: 100%;
  }
}
@media screen and (max-width: 353px) {
  .header__time {
    margin-top: 20px;
  }
}
@media (max-width: 1400px) {
  .navigator__container {
    width: 1140px;
    margin: 0 auto;
  }
  .navigator__maps {
    margin-right: 18px;
  }
}
@media screen and (max-width: 1199px) {
  .navigator__container {
    width: 960px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .navigator__maps,
  .navigator__search {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .navigator__container {
    width: 720px;
  }
  .navigator__link {
    margin-top: 5px;
    display: none;
  }
  .navigator__cabinet {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 15px;
  }
  .navigator__search {
    margin-right: 20px;
  }
  .navigator__search,
  .navigator__maps {
    margin-bottom: 0;
  }
  .navigator__drop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigator__cabinet {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .navigator__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .navigator__container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1400px) {
  .bitmap__container {
    width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .bitmap__container {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .bitmap__container {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .bitmap__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .bitmap__container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bitmap__sub-title {
    font-size: 28px;
  }
  .bitmap__title {
    font-size: 46px;
  }
}
@media (max-width: 1400px) {
  .text-block__container {
    width: 1140px;
  }
}
@media screen and (max-width: 1199px) {
  .text-block__container {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .text-block__container {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .text-block__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .text-block__container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1400px) {
  .element__container {
    width: 1140px;
  }
}
@media screen and (max-width: 1199px) {
  .element__container {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .element__container {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .element__container {
    width: 540px;
  }
  .element__item {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 576px) {
  .element__container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .element__item {
    width: 50%;
  }
}
@media (max-width: 1400px) {
  .footer__container {
    width: 1140px;
  }
  .footer__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer__navigator {
    border-right: none;
  }
  .footer__contact {
    padding-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    width: 960px;
  }
  .footer__navigator {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__email {
    border-right: 0;
  }
  .footer__navigator {
    margin-top: 20px;
    padding-left: 0;
  }
  .footer__contact {
    padding-left: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  .footer__container {
    width: 720px;
  }
  .footer__city {
    width: 50%;
  }
  .footer__time {
    width: 50%;
  }
  .footer__email {
    width: 50%;
  }
  .footer__navigator {
    width: 50%;
    padding-left: 45px;
  }
  .footer__contact {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    width: 100%;
    padding: 10px;
  }
  .footer__city {
    width: 100%;
    border-right: 0;
  }
  .footer__time {
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
    border-right: 0;
  }
  .footer__email {
    width: 100%;
    padding-left: 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 15px;
  }
  .footer__navigator {
    width: 100%;
    padding-left: 0;
    border-right: 0;
  }
  .footer__contact {
    width: 100%;
    padding-left: 0;
    max-width: 310px;
  }
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Navigo';
}
