@import "variables.less";
@import "default.less";
@import "font.less";
@import "header.less";
@import "navigator.less";
@import "bitmap.less";
@import "textBlock.less";
@import "element.less";
@import "footer.less";
@import "media.less";

body {
  box-sizing: border-box;
  font-family: 'Navigo';
}
