.bitmap {
  background-image: url("../img/header-bg.png");
  &__container {
    padding: 116px 0;
  }
  &__sub-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: "NavigoBold";
  }
  &__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 52px;
    font-family: "NavigoLight";
    line-height: 72px;

  }
}