.element {
  &__container {
    width: 1400px;
    margin: 0 auto;
    padding: 64px 0 124px 0;
  }
  &__wrapper {
    margin-bottom: 96px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100% / 5;
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
      width: 124px;
      height: 124px;
      border: 2px solid @element-border;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 26px;
    }
    &-text {
      font-size: 14px;
      font-weight: 700;
      font-family: "NavigoBold";
      text-align: center;
      text-transform: uppercase;
      line-height: 20px;
    }
  }
  &__button {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      color: @header-dark;
      padding: 12px 44px;
      border: 4px solid @element-border;
      border-radius: 28px;
      background-color: transparent;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}