@font-face {
  font-family: 'Navigo';
  src: url('../fonts/Navigo-Regular.eot');
  src: url('../fonts/Navigo-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Navigo-Regular.woff2') format('woff2'),
  url('../fonts/Navigo-Regular.woff') format('woff'),
  url('../fonts/Navigo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NavigoBold";
  src: url('../fonts/Navigo-Bold.eot');
  src: url('../fonts/Navigo-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Navigo-Bold.woff2') format('woff2'),
  url('../fonts/Navigo-Bold.woff') format('woff'),
  url('../fonts/Navigo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NavigoLight';
  src: url('../fonts/Navigo-Light.eot');
  src: url('../fonts/Navigo-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Navigo-Light.woff2') format('woff2'),
  url('../fonts/Navigo-Light.woff') format('woff'),
  url('../fonts/Navigo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}