.footer {
  background-color: @header-dark;
  &__container {
    width: 1400px;
    margin: 0 auto;
    padding: 32px 0;

  }
  &__wrapper {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.10000000149011612);
    padding-top: 32px;
    display: flex;
  }
  &__city {
    padding-right: 44px;
    border-right: 1px solid rgba(255, 255, 255, 0.10000000149011612);
  }
  &__logo {
    margin-bottom: 16px;
  }
  &__adress {
    max-width: 322px;
    color: white;
    font-size: 13px;
    font-family: "NavigoBold";
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    margin-bottom: 16px;
  }
  &__pravila {
    a {
      text-decoration: none;
      font-size: 13px;
      font-family: "NavigoBold";
      line-height: 16px;
      color: @element-border;
    }
  }
  &__time {
    padding: 0 45px;
    border-right: 1px solid rgba(255, 255, 255, 0.10000000149011612);
    display: flex;
    &-img {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
    &-text {
        max-width: 77px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          text-align: left;
          color: white;
          margin-bottom: 8px;
        }
    }
  }
  &__email {
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.10000000149011612);
    span {
      color: white;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 16px;
      text-align: left;
      margin-bottom: 4px;
    }
    form {
      position: relative;
      input {
        width: 200px;
        border: 2px solid #656C81;
        border-radius: 19px;
        background-color: transparent;
        padding: 10px 40px 10px 16px;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        opacity: 0.5;
        text-align: left;
        &:focus {
          outline: none !important;
        }
      }
      button {
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: @element-border;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &::after {
          content: "";
          background-image: url("../img/icon_arrow-right.svg");
          width: 10px;
          height: 16px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__navigator {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border-right: 1px solid rgba(255, 255, 255, 0.10000000149011612);
    a {
      text-decoration: none;
      color: white;
      font-size: 12px;
      font-weight: 700;
      font-family: "NavigoBold";
      letter-spacing: 1px;
      line-height: 22px;
    }
  }
  &__contact {
    padding: 0 45px;
    a {
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;

      img {
        position: relative;
        top: -5px;
      }
    }
    button {
      margin-top: 20px;
      padding: 9px 32px;
      border: 2px solid white;
      border-radius: 19px;
      background-color: transparent;
      color: white;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 16px;
    }
  }
}