.header {
  background-color: white;
  &__container {
    width: 1400px;
    margin: 0 auto;
    padding: 13px 0;
    display: flex;

  }
  &__lang {
    width: 36px;
    height: 36px;
    background-color: @header-dark;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    margin-right: 15px;
    &-all {
      display: flex;
      align-items: center;
      margin-right: 48px;
      a {
        font-size: 11px;
        line-height: 16px;
        color: @header-dark;
        text-decoration: none;
      }
    }
  }
  &__time {
    display: flex;
    &-img {
      margin-right: 15px;
    }
    &-text {
      max-width: 160px;
      line-height: 16px;
      font-size: 11px;
      color: @header-dark;
      font-weight: 700;
      span {
        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        border-bottom: 1px solid @header-dark;
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    position: relative;
    &::before {
      content: '';
      background-image: url("../img/triangle.svg");
      width: 40px;
      height: 7px;
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__social {
    display: flex;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border: 1px solid @header-border;
      border-radius: 50%;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
      a {
        line-height: 10px;
      }
    }
  }
}