@media @ls {
  .footer {
    &__container {
      width: 1140px;
    }
    &__wrapper {
      flex-wrap: wrap;
    }
    &__navigator {
      border-right: none;
    }
    &__contact {
      padding-left: 0;
      margin-top: 20px;
    }
  }
}
@media @md {
  .footer {
    &__container {
      width: 960px;
    }
    &__navigator {
      border-right: 1px solid rgba(255, 255, 255, 0.10000000149011612);
    }
    &__email {
      border-right: 0;
    }
    &__navigator {
      margin-top: 20px;
      padding-left: 0;
    }
    &__contact {
      padding-left: 45px;
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
    &__wrapper {
      flex-wrap: wrap;
    }
  }
}
@media @sm {
  .footer {
    &__container {
      width: 720px;
    }
    &__city {
      width: 50%;
    }
    &__time {
      width: 50%;
    }
    &__email {
      width: 50%;
    }
    &__navigator {
      width: 50%;
      padding-left: 45px;
    }
    &__contact {
      width: 50%;
    }
  }
}
@media @xs {
  .footer {
    &__container {
      width: 540px;
    }
  }
}
@media @mb {
  .footer {
    &__container {
      width: 100%;
      padding: 10px;
    }
    &__city {
      width: 100%;
      border-right: 0;
    }
    &__time {
      width: 100%;
      padding-left: 0;
      margin-top: 15px;
      border-right: 0;
    }
    &__email {
      width: 100%;
      padding-left: 0;
      align-items: flex-start;
      margin-top: 15px;
    }
    &__navigator {
      width: 100%;
      padding-left: 0;
      border-right: 0;
    }
    &__contact {
      width: 100%;
      padding-left: 0;
      max-width: 310px;
    }
  }
}