@media @ls {
  .bitmap {
    &__container {
      width: 1140px;
      margin: 0 auto;
    }
  }
}
@media @md {
  .bitmap {
    &__container {
      width: 960px;
    }
  }
}
@media @sm {
  .bitmap {
    &__container {
      width: 720px;
    }
  }
}
@media @xs {
  .bitmap {
    &__container {
      width: 540px;
    }
  }
}
@media @mb {
  .bitmap {
    &__container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__sub-title {
      font-size: 28px;
    }
    &__title {
      font-size: 46px;
    }
  }
}