@media @ls {
  .navigator {
    &__container {
      width: 1140px;
      margin: 0 auto;
    }
    &__maps {
      margin-right: 18px;
    }
  }
}
@media @md {
  .navigator {
    &__container {
      width: 960px;
      flex-wrap: wrap;
    }
    &__maps, &__search {
      margin-bottom: 10px;
    }
  }
}
@media @sm {
  .navigator {
    &__container {
      width: 720px;
    }
    &__link {
      margin-top: 5px;
      display: none;
    }
    &__cabinet {
      justify-content: flex-start;
      margin-top: 15px;
    }
    &__search {
      margin-right: 20px;
    }
    &__search, &__maps {
      margin-bottom: 0;
    }
    &__drop {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__cabinet {
      width: 100%;
    }
  }
}
@media @xs {
  .navigator {
    &__container {
      width: 540px;
    }
  }
}
@media @mb {
  .navigator {
    &__container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}