@media @ls {
  .header {
    &__container {
      width: 1140px;
      margin: 0 auto;
    }
  }
}
@media @md {
  .header {
    &__container {
      width: 960px;
    }
  }
}
@media @sm {
  .header {
    &__container {
      width: 720px;
    }
  }
}
@media @xs {
  .header {
    &__container {
      width: 540px;
      flex-wrap: wrap;
    }
    &__logo {
      width: 50%;
      flex-grow: inherit;
      justify-content: flex-start;
      margin-top: 20px;
    }
    &__social {
      margin-top: 20px;
    }
    &__logo {
      &::before {
        width: 0;
      }
    }
  }
}
@media @mb {
  .header {
    &__container {
      width: 100%;
      padding: 10px;
    }
    &__logo {
      width: 100%;
    }
  }
}
@media screen and (max-width: 353px){
  .header {
    &__time {
      margin-top: 20px;
    }
  }
}