@media @ls {
  .element {
    &__container {
      width: 1140px;
    }
  }
}
@media @md {
  .element {
    &__container {
      width: 960px;
    }
  }
}
@media @sm {
  .element {
    &__container {
      width: 720px;
    }
  }
}
@media @xs {
  .element {
    &__container {
      width: 540px;
    }
    &__item {
      width: 100% / 3;
    }
  }
}
@media @mb {
  .element {
    &__container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__item {
      width: 50%;
    }
  }
}