.navigator {
  background-color: @header-dark;
  width: 100%;
  &__container {
    padding: 14px 0;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__search {
    min-width: 36px;
    width: 36px;
    height: 36px;
    border: 1px solid @navigator-border;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 84px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 108px;
    a {
      padding: 9px 18px;
      font-size: 13px;
      color: white;
      line-height: 16px;
      text-decoration: none;
      border: 2px solid @navigator-border;
      border-radius: 17px;
    }
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    a {
      text-decoration: none;
      font-size: 12px;
      font-family: "NavigoBold";
      margin-right: 26px;
      color: white;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__drop {
    display: none;
    margin: 10px 0;
    span {
      width: 36px;
      height: 1px;
      background-color: white;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__cabinet {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    &-link {
      text-decoration: none;
      color: white;
      font-size: 13px;
      line-height: 16px;
      padding: 6px 19px;
      border: 2px solid @navigator-border;
      border-radius: 17px;
      display: flex;
      font-family: "NavigoBold";
      align-items: center;
      span {
        border-radius: 50%;
        background-color: @navigator-count;
        margin-left: 8px;
        padding: 2px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 11px;
        font-family: "NavigoBold";
      }
    }
  }
}