.text-block {
  &__container {
    max-width: 966px;
    margin: 0 auto;
    padding: 104px 0 64px 0;
    border-bottom: 1px solid @text-border;
  }
  &__content {
    color: @text-border;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}