@mb: ~"screen and (max-width: 576px)";
@xs: ~"screen and (max-width: 767px)";
@sm: ~"screen and (max-width: 991px)";
@md: ~"screen and (max-width: 1199px)";
@lg: ~"(min-width: 1200px)";
@ls: ~"(max-width: 1400px)";

@header-dark: #3D4252;
@header-border: #8088A3;

@navigator-border: #656C81;
@navigator-count: #2694F7;

@text-border: #3D4252;

@element-border: #A8F0DE;



